{% extends "layout.html" %}

{% block content %}

    <div >
        <form method = 'POST' action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Today</legend>
                <div>
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                <div>
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>

                <div>
                    {{ form.submit }}
                </div>
            </fieldset>
        </form>
        <div>Need an Account? <a href="{{url_for('register') }}">Register</a></div>
    </div>

{% endblock content%}